.c-navbar{
    background-color: transparent;
    text-align: center;
    &__img{
        width: 65%;
    }
    &__nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
        
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    
        a{
            text-decoration: none;
            margin: 10px;
            color: white;
            font-size: 2.5vw;
            
        }
        :hover{
            color: rgb(17, 199, 245);
        }
    }
    
}