<div class="c-navbar">

    <img src="../assets/images/background-navbar.png" class="c-navbar__img">

    <nav class="c-navbar__nav">
        <a routerLink="">Home</a>
        <a routerLink="characters">Characters</a>
        <a routerLink="locations">Locations</a>
        <a routerLink="episodes">Episodes</a>
        <a routerLink="about">About</a>
    </nav>
    
</div>