.c-navbar {
  background-color: transparent;
  text-align: center;
}

.c-navbar__img {
  width: 65%;
}

.c-navbar__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.c-navbar__nav a {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-size: 2.5vw;
}

.c-navbar__nav :hover {
  color: #11c7f5;
}
/*# sourceMappingURL=navbar.component.css.map */