.c-about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-about-page__image {
  width: 30%;
}

.c-about-page__text {
  background-color: blue;
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=about-page.component.css.map */