.c-about-page{
    display: flex;
    padding: 10px 20px;
    
    flex-wrap: wrap;
    word-wrap: break-word;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    &__image{
        width: 30%;
        
    }
    &__text{
        background-color: blue;
        text-align: justify;
        color: white;
        font-size: 25px;
        font-family: serif;
        align-items: center;
        
    }

}