<div class="c-about-page">
    <img src="../assets/images/about.png" class="c-about-page__image">
    <p class="c-about-page__text">Hello, this page was created with the TypeScript language and in the Angular framework. To find more projects visit my gitlab.

        Cristian De Lucas Noguero</p>
</div>