.c-locations-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 100%;
}

.c-locations-gallery :hover {
  color: white;
  background-color: green;
}

.c-locations-gallery__location {
  text-decoration: none;
  padding: 10px 10px;
  margin: 15px auto;
  text-align: center;
  border: solid 3px green;
  border-radius: 2%;
  background-color: white;
  width: 30%;
  word-wrap: break-word;
}

.c-locations-gallery__location a {
  text-decoration: none !important;
  color: green;
}
/*# sourceMappingURL=locations-gallery.component.css.map */