<div class="c-locations-gallery">
    <div *ngFor="let location of listLocations"  class="c-locations-gallery__location">
        <a routerLink="/locations/{{location.id}}">
        <h3>{{location.name | uppercase}}</h3>
        <p>{{location.planet}}</p>
        <p>{{location.type}}</p>
        <p>{{location.created}}</p>
        <p *ngIf="location.dimension!=='unknown'">Localización: {{location.dimension}}</p>
        </a>
    </div>
</div>