.c-locations-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    :hover{
        color: white;
        background-color: green;
    }
    
    
    &__location{
        text-decoration: none;
        padding: 10px 10px;
        margin: 15px auto;
        text-align: center;
        border: solid 3px green ;
        border-radius: 2%;
        background-color: white;
        width: 30%;
        word-wrap: break-word;
        
        
        a{
            text-decoration: none !important;
            color: green;
            
        }
            
        
    }
}