.c-characters-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    
    :hover{
        color: white;
        background-color: green;
    }
    
    &__character{
        text-decoration: none;
        padding: 10px 20px;
        margin: 1%;
        text-align: center;
        border: solid 3px green ;
        border-radius: 2%;
        
        
        
        img{
            width: 100%;
            border-radius: 5%;
            border: solid 3px green ;
        }

        a{
            text-decoration: none !important;
            color: green;
            
        }
            
        
    }
}