
<div class="c-characters-gallery">
    <div *ngFor="let character of listCharacters" class="c-characters-gallery__character">
        <a routerLink="/characters/{{character.id}}">
        <h3>{{character.name}}</h3>
        <img src="{{character.image}}" alt="{{character.name}}">
        </a>
    </div>
</div>
