.c-characters-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.c-characters-gallery :hover {
  color: white;
  background-color: green;
}

.c-characters-gallery__character {
  text-decoration: none;
  padding: 10px 20px;
  margin: 1%;
  text-align: center;
  border: solid 3px green;
  border-radius: 2%;
}

.c-characters-gallery__character img {
  width: 100%;
  border-radius: 5%;
  border: solid 3px green;
}

.c-characters-gallery__character a {
  text-decoration: none !important;
  color: green;
}
/*# sourceMappingURL=characters-gallery.component.css.map */