.c-episode-details{
    text-align: center;
    padding: 10px 20px;
    margin: 1%;
    font-size: 20px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    label{
        color: green;
    }
        
    

}