<div class="c-episode-details">
    <h2>{{episode.name| uppercase}}</h2>
    <p><label>Episode: </label>{{episode.episode}}</p>
    <p><label>Air date: </label>{{episode.air_date}}</p>
    <h4><label>Characters: </label>{{episode.characters.length}} </h4>
</div>