<div class="c-character-details">
    <img src="{{character.image}}">
    <p><label>Name: </label>{{character.name}}</p>
    <p><label>ID: </label>{{character.id}}</p>
    <p><label>Specie: </label>{{character.species}}</p>
    <p><label>Gender: </label>{{character.gender}}</p>
    <p><label>Status: </label>{{character.status}}</p>
    
    <p><label>Origen: </label> {{character.origin.name}}</p>
    <p><label>Location: </label>{{character.location.name}}</p>
</div>

<button routerLink="/characters"><= Go Back</button>