<div class="c-home-page">
    <div class="c-home-page__option" id="characters"><a routerLink="characters" >CHARACTERS</a></div>
    <div class="c-home-page__option" id="locations"><a routerLink="locations" >LOCATIONS</a></div>
    <div class="c-home-page__option" id="episodes"><a routerLink="episodes" >EPISODES</a></div>
    <div class="c-home-page__option" id="about"><a routerLink="about" >ABOUT</a></div>
</div>
