
.c-home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

    &__option{

        &:hover{
            &#characters{
                background-color: red;
            }
            &#locations{
                background-color: red;
            }
            &#episodes{
                background-color: red;
            }
            &#about{
                background-color: red;
            }
            
                


        }
        display: flex;
        padding: 10px;
        margin: 10px;
        width: 44%;
        height: 150px;
        
        font-size: 40px;
        background-color: blue;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        
        a{
            text-decoration: none;
            color: white;
        }

        
        
    }

    
}

