.c-home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-home-page__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 44%;
  height: 150px;
  font-size: 40px;
  background-color: blue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.c-home-page__option:hover#characters {
  background-color: red;
}

.c-home-page__option:hover#locations {
  background-color: red;
}

.c-home-page__option:hover#episodes {
  background-color: red;
}

.c-home-page__option:hover#about {
  background-color: red;
}

.c-home-page__option a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=home-page.component.css.map */