.c-episodes-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

.c-episodes-gallery__episode {
  width: 30%;
  border-radius: 10px;
  background-color: #ca1010;
  margin: 10px;
  font-size: 20px;
}

.c-episodes-gallery__episode a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=episodes-gallery.component.css.map */