.c-episodes-gallery{
    display: flex;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;

    &__episode{
        width: 30%;
        border-radius: 10px;
        background-color: rgb(202, 16, 16,0.5);
        margin: 10px;
        font-size: 20px;
        a{
            text-decoration: none;
            color:white;
            
        }
    }
}