<div class="c-episodes-gallery">
    <div *ngFor="let episode of listEpisodes" class="c-episodes-gallery__episode">
        <a routerLink="/episodes/{{episode.id}}">
        <h3>{{episode.name}}</h3>
        <p>{{episode.episode}}</p>
        </a>
    </div>
</div>