/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Schwifty";
    src: url("./assets/fonts/schwifty.ttf");
}

body{
    margin: 0;
    background-image: url('./assets/images/stars.gif');
    font-family: "Schwifty";

    
}