<div class="c-location-details">
    <h3>{{location.name | uppercase}}</h3>
    <p><label>Type: </label>{{location.type}}</p>
    <p><label>Created: </label>{{location.created}}</p>
    <p *ngIf="location.dimension!=='unknown'"><label>Dimension: </label> {{location.dimension}}</p>
    <p><label>Residents: </label> {{this.location.residents.length}} </p>
    
</div>  