.c-location-details{
        
    padding: 10px 20px;
    margin: 1%;
    text-align: center;
    border: solid 3px green ;
    border-radius: 2%;
    font-size: 20px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    label{
        color: green;
    }
        
    

}